/* ===== HEADER ===== */
.header-page {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 65px;
	padding: 15px 60px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 0;
}

.header-page > .brand {
	height: 100%;
}

.header-page > .navigation > .link {
	color: var(--gray-color);
	transition-duration: .4s;
}

.header-page > .navigation > .link + .link {
	margin-left: 30px;
}

.header-page > .navigation > .link.-active,
.header-page > .navigation > .link:hover {
	color: var(--pink-color);
}

/* ===== AUTHENTICATE ===== */

.authenticate {
	display: flex;
	width: 100%;
	height: 100vh;
}



.authenticate > .form {
	width: 100%;
	max-width: 450px;
	margin: auto;
}

.authenticate > .form.-error {
	animation: error .1s;
	animation-iteration-count: 4;
}

.authenticate > .form > .title {
	color: var(--pink-color);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 3.5em;
	line-height: 1em;
	margin-bottom: 10px;
}

.authenticate > .form > .subtitle {
	font-size: 1.1em;
	margin-bottom: 45px;
	color: var(--gray-color);
}

.authenticate > .form > .input {
	width: 100%;
	height: 45px;
	padding: 12px 8px;
	border-bottom: solid 1px var(--light-gray-color);
	border-radius: 4px; 
	margin-bottom: 15px;
	transition-duration: .4s;
}

.authenticate > .form > .input:focus {
	border-color: var(--pink-color);
	border-width: 2px;
}

.authenticate > .form > .input::placeholder {
	color: var(--gray-color);
}

.authenticate > .form > .action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 55px;
}

.authenticate > .form > .action > .forgot {
	color: var(--gray-color);
	font-size: .8em
}

.authenticate > .form > .action > .button {
	width: 150px;
	height: 45px;
	color: white;
	text-transform: uppercase;
	background-color: var(--pink-color);
	border-radius: 45px;
	cursor: pointer;
	transition-duration: .4s;
}

.authenticate > .form > .action > .button:hover {
	background-color: var(--pink-secondary-color);
}

/* ===== SIGNUP ===== */

.signup {
	display: flex;
	width: 100%;
	height: 100vh;
}

.teste {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
}

.signup > .form {
	width: 100%;
	max-width: 550px;
	margin: auto;
}

.signup > .form > .title {
	color: var(--pink-color);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 3.5em;
	line-height: 1em;
	margin-bottom: 10px;
}

.signup > .form > .subtitle {
	font-size: 1.1em;
	margin-bottom: 45px;
	color: var(--gray-color);
}

.signup .alert {
	margin-bottom: 30px;
}

.signup > .form > .input {
	width: 100%;
	height: 45px;
	padding: 12px 8px;
	border-bottom: solid 1px var(--light-gray-color);
	border-radius: 4px; 
	margin-bottom: 15px;
	transition-duration: .4s;
}

.signup > .form > .input:focus {
	border-color: var(--pink-color);
	border-width: 2px;
}

.signup > .form > .input::placeholder {
	color: var(--gray-color);
}

.signup > .form > .input.-x50 {
	width: calc(50% - 10px);
}

.signup > .form > .input.-x50 + .input.-x50 {
	margin-left: 15px;
}

.signup > .form > .action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.signup > .form > .action > .eula {
	color: var(--gray-color);
	font-size: .8em;
	max-width: 260px;
	text-align: right;
}

.signup > .form > .action > .eula > .link {
	color: var(--pink-secondary-color);
}

.signup > .form > .action > .button {
	width: 150px;
	height: 45px;
	color: white;
	text-transform: uppercase;
	background-color: var(--pink-color);
	border-radius: 45px;
	cursor: pointer;
	transition-duration: .4s;
}

.signup > .form > .action > .button:hover {
	background-color: var(--pink-secondary-color);
}

/* ===== visibility ===== */

.visibility {
	width: 100%;
	padding: 60px 0; 
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 65px;
	min-height: calc(100vh - 65px);
}

.visibility > .search {
	width: 100%;
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px var(--light-gray-color);	
	display: inline-flex;
}

.visibility > .search > .input {
	width: calc(100% - 60px);
	height: 100%;
	padding: 12px 15px; 
	display: inline-block;
	font-size: 1.2em;
}

.visibility > .search > .button {
	width: 60px;
	height: 100%;
	display: inline-block;
	background-color: transparent;
}

.visibility > .search > .button > .icon {
	height: 100%;
	padding: 8px;
}

.visibility > .list {
	padding-top: 60px;
	padding-bottom: 60px;
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.location-card {
	width: 310px;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,.1);
	border: solid 1px var(--light-gray-color);
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	background: #F6F6F6;
}

/*
.location-card + .location-card {
	margin-left: 15px;
}*/

.location-card > .map {
	background-color: var(--blue-color);
	width: 100%;
	height: 200px;
}

.location-card > .description {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.location-card > .description > .title {
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 5px; 
}

.location-card > .description > .city {
	font-size: 1em;
	font-weight: 300;
	color: var(--gray-color); 
	margin-bottom: 15px; 
}

/* ===== STARS ===== */

.stars {
	text-align: center;
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

.stars > .star {
	position: relative;
	width: 25px;
	height: 25px;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
}

.stars > .star::after {
		content: "";
		background: white;
		position: absolute;	
}

.stars > .star._1::after,
.stars > .star._2::after {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 20% 48%, 20% 35%, 39% 35%);
}

.stars > .star._3,
.stars > .star._4 {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 40% 77%, 40% 33%);
}
			
.stars > .star._5::after {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%);
}

.stars > .star._6::after,
.stars > .star._7::after {
	clip-path: polygon(61% 35%, 98% 35%, 68% 57%, 79% 91%, 61% 77.5%);
}
			
.stars > .star._8::after,
.stars > .star._9::after {
	clip-path: polygon(80% 35%, 98% 35%, 80% 48%);
}
		 
.stars > .star._10::after {
	background: var(--blue-color);
}

.form.evalue .stars > .star._10::after {
	background: var(--pink-color);
}

.form.evalue .stars > input[type="radio"]:checked ~ .star::after,
.stars > .star._0::after {
	background: white;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.form.evalue > .stars > input[type="radio"]:checked + .star::after {
	background-color: var(--pink-color);
} 

.stars > .interior {
	background-color: var(--blue-color);
}

.stars > .value {
	font-size: 0.8em;
	color: var(--gray-color);
	margin-left: 10px;
}

.form.evalue > .stars > .interior {
	background-color: var(--pink-color);
}

.stars > .interior::after {
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;	
}

.form.evalue > .stars > .label {
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
	font-size: .9em;
	font-weight: 700;
	color: var(--pink-color);
}

.alert {
	padding: 15px 30px;
	background-color: var(--pink-color);
	color: white;
	font-size: .9em;
	line-height: 1.6em;
	border-radius: 6px;
	text-align: left;
}


/* ===== REGISTER LOCAL ===== */
.register-local > .form > .input {
	width: 100%;
	height: 50px;
	padding: 12px 8px;
	border-bottom: solid 1px var(--light-gray-color);
	border-radius: 4px; 
	margin-bottom: 15px;
	transition-duration: .4s;
}

.register-local {
	display: flex;
	width: 100%;
	height: 100vh;
}

.register-local > .form {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.register-local > .form > .title {
	color: var(--pink-color);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 3.5em;
	line-height: 1em;
	margin-bottom: 10px;
}

.register-local > .form > .subtitle {
	font-size: 1.8em;
	margin-bottom: 45px;
	color: var(--gray-color);
}

.register-local .alert {
	margin-bottom: 30px;
}

.register-local > .form .input,
.register-local > .form .select,
.register-local > .form .text-area {
	width: 100%;
	height: 45px;
	padding: 12px 8px;
	border-bottom: solid 1px var(--light-gray-color);
	border-radius: 4px; 
	margin-bottom: 15px;
	transition-duration: .4s;
}

.register-local > .form .select.-x50 {
	background-color: transparent;
}

.register-local > .form .text-area {
	height: 120px;
	resize: none;
}

.register-local > .form .input:focus,
.register-local > .form .text-area:focus {
	border-color: var(--pink-color);
	border-width: 2px;
}

.register-local > .form .input::placeholder,
.register-local > .form .text-area::placeholder {
	color: var(--gray-color);
}

.register-local > .form .text-area::placeholder {
	letter-spacing: -1px;
}

.register-local > .form .input.-x50 {
	width: calc(50% - 10px);
}

.register-local > .form .input.-x75 {
	width: calc(75% - 10px);
}

.register-local > .form .input.-x25 {
	width: calc(25% - 10px);
}

.register-local > .form .select.-x50 {
	width: calc(50% - 10px);
}

.row {
	width: 100%;
}

.register-local > .form .input.-x50 + .input.-x50,
.register-local > .form .input.-x50 + .select.-x50,
.register-local > .form .input.-x75 + .input.-x25 {
	margin-left: 15px;
}

.register-local > .form > .action {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.register-local > .form > .action > .eula {
	color: var(--gray-color);
	font-size: .8em;
	max-width: 260px;
	text-align: right;
}

.register-local > .form > .action > .eula > .link {
	color: var(--pink-secondary-color);
}

.register-local > .form > .action > .button {
	width: 150px;
	height: 45px;
	color: white;
	text-transform: uppercase;
	background-color: var(--pink-color);
	border-radius: 45px;
	cursor: pointer;
	transition-duration: .4s;
}

.register-local > .form > .action > .button:hover {
	background-color: var(--pink-secondary-color);
}	


@keyframes error {
	25% {
		transform: rotate(-1deg);
	}
		
	75% {
		transform: rotate(1deg);
	}
		
	100% {
		transform: rotate(0deg);
	}
}


/* ===== MODAL ===== */
.modal-wrapper {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	overflow: auto;
	cursor: pointer;
}

.modal-wrapper.hide {
	display: none;
}

.modal-wrapper > .modal {
	width: 100%;
	max-width: 900px;
	background-color: white;
	animation: down .7s;
	border-radius: 4px;
	height: auto;
	cursor: initial;
}

.modal-wrapper > .modal > .header {
	width: 100%;
	padding: 30px 60px;
}

.modal-wrapper > .modal > .header > .avatar {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 5px;
}

.modal-wrapper > .modal > .header > .description {
	display: inline-block;	
	vertical-align: middle;
}

.modal-wrapper > .modal > .header > .description > .title {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 1.2em;
}

.modal-wrapper > .modal > .header > .description > .by {
	font-weight: 400;
	color: var(--gray-color);
}

.modal-wrapper > .modal > .header > .description > .by > a {
	font-weight: 700;
	color: var(--blue-color);
}

.modal-wrapper > .modal > .header > .avatar > .image {
	width: 100%;
}

.modal-wrapper > .modal > .map {
	width: 100%;
	height: 300px;
	background-color: var(--blue-color);
}

.modal-wrapper > .modal > .description {
	padding: 30px 60px;
}

.modal-wrapper > .modal > .description > .about {
	color: var(--gray-color);
	margin-bottom: 30px;
}

.modal-wrapper > .modal > .description > .evaluations {
	padding: 30px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal-wrapper > .modal > .description > .evaluations > .stars {
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	margin-bottom: 25px;
}

.modal-wrapper > .modal > .description > .evaluations > .stars > .label {
	display: block;
	width: 100%;
	color: var(--blue-color);
	font-weight: 700;
	margin-bottom: 5px;
	font-size: .9em;
	text-transform: uppercase;
}

.modal-wrapper > .modal > .description > .evaluations > .stars > .star {
	weight: 25px;
	height: 25px;
}

.modal-wrapper > .modal > .description > .options > .item {
	display: inline-block;
	color: var(--gray-color);
	font-size: .9em;
}

.modal-wrapper > .modal > .description > .options {
	margin-top: 30px
}

.modal-wrapper > .modal > .description > .options > .item > img {
	height: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

.modal-wrapper > .modal > .description > .options > .item + .item {
	margin-left: 20px;
}

.modal-wrapper > .modal > .evaluations {
	padding: 0px 60px;
	padding-bottom: 30px;
}

.modal-wrapper > .modal > .evaluations > .title {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 1.3em;
	margin-bottom: 15px;
}

.modal-wrapper > .modal > .evaluations > .form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;	
	width: 100%;
	max-width: 600px;
	height: 542px;
	padding: 15px;
	border: solid 1px var(--light-gray-color);
	position: relative;
}

.modal-wrapper > .modal > .evaluations > .list.-loading + .form {
	display: none;
}

.modal-wrapper > .modal > .evaluations > .list.-loading {
	text-align: center;
	max-width: 100%;
}

.modal-wrapper > .modal > .evaluations > .form.-sent {
	border-color: var(--pink-color);
}

.modal-wrapper > .modal > .evaluations > .form.-sent::after {
	content: "Obrigado pela sua avaliação.";
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	color: var(--pink-color);
	background: white;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 1s;
	font-size: 1.6em;
	font-weight: 700;
}

.modal-wrapper > .modal > .evaluations > .form > .text-area {
	width: 100%;
	height: 100px;
	padding: 12px 8px;
	border-bottom: solid 1px var(--light-gray-color);
	border-radius: 4px; 
	margin-bottom: 25px;
	margin-top: 30px;
	transition-duration: .4s;
	resize: none;
}

.modal-wrapper > .modal > .evaluations > .form > .stars {
	margin-top: 20px	
}

.modal-wrapper > .modal > .evaluations > .form > .stars > .star {
	width: 22px;
	height: 22px;
}

.modal-wrapper > .modal > .evaluations > .form > .stars > input[type="radio"] {
	display: none;
}

.modal-wrapper > .modal > .evaluations > .form > .text-area:focus {
	border-color: var(--pink-color);
	border-width: 2px;
}

.modal-wrapper > .modal > .evaluations > .form > .button {
	width: 150px;
	height: 45px;
	color: white;
	text-transform: uppercase;
	background-color: var(--pink-color);
	border-radius: 45px;
	cursor: pointer;
	transition-duration: .4s;
}

.modal-wrapper > .modal > .evaluations > .form > .button:hover {
	background-color: var(--pink-secondary-color);
}	

.modal-wrapper > .modal > .evaluations > .list {
	width: 100%;
	max-width: 600px;
}

.modal-wrapper > .modal > .evaluations > .list > .item >.figure-wrapper {
	width: 50px;
	display: inline-block;
	vertical-align: top;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .figure-wrapper > .avatar,
.modal-wrapper > .modal > .evaluations > .list > .item > .figure-wrapper > .avatar > .image {
	width: 100%;
	border-radius: 50%;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main {
	width: calc(100% - 56px);
	padding-left: 10px;
	display: inline-block;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .name {
	font-weight: 700;
	color: var(--gray-color);
	font-size: 1em;
	letter-spacing: -1px;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .name > .username {
	color: var(--blue-color);
	font-size: .8em;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .comment {
	color: var(--gray-color);
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .date {
	font-size: .8em;
	color: var(--gray-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .date > .stars > .star {
	width: 20px;
	height: 20px;
}

.modal-wrapper > .modal > .evaluations > .list > .item > .main > .date > .stars > .interior::after {
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;	
}

.modal-wrapper > .modal > .evaluations > .list > .item {
	width: 100%;
	padding: 15px 0;
	border-bottom: solid .5px #E4E4E4;
}

/* ===== MY LOCALS ===== */
.my-locals {
	width: 100%;
	padding: 60px 0; 
	max-width: 768px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 65px;
	min-height: calc(100vh - 65px);
}

.my-locals > .list {
	width: 100%;
}

.my-locals > .title {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 45px;
}

.my-locals > .list > .my-local-card {
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	background: #F6F6F6;
	height: 130px;
	width: 100%;
}

.my-locals > .list > .my-local-card + .my-local-card {
	margin-top: 15px;
}

.my-locals > .list > .my-local-card > .map {
	display: inline-block;
	width: 160px;
	height: 100%;
	box-shadow: 1px 0px 1px 0px rgba(0,0,0,.1);
}

.my-locals > .list > .my-local-card > .description {
	display: inline-block;
	width: calc(100% - 160px);
	height: 100%;
	vertical-align: top;
	padding: 15px;
}

.my-locals > .list > .my-local-card > .description > .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-locals > .list > .my-local-card > .description > .header > .title {
	font-weight: 700;
	font-size: 1em;
	display: flex;
	align-items: center;
}

.my-locals > .list > .my-local-card > .description > .header > .title > .city {
	font-weight: 400;
	font-size: .8em;
	margin-left: 2px;
	color: var(--gray-color);
}

.my-locals > .list > .my-local-card > .description > .header > .stars > .star {
	width: 18px;
	height: 18px;
}

.my-locals > .list > .my-local-card > .description > .main {
	padding: 15px 0;
}

.my-locals > .list > .my-local-card > .description > .main > p.text {
	font-size: .8em;
	height: 36px;
	color: var(--gray-color);
}

.my-locals > .list > .my-local-card > .description > .main > .actions {
	padding: 15px 0;
}

.my-locals > .list > .my-local-card > .description > .main > .actions > button,
.my-locals > .list > .my-local-card > .description > .main > .actions > button:focus,
.my-locals > .list > .my-local-card > .description > .main > .actions > button:hover {
	background-color: transparent;
	cursor: pointer;
}

.my-locals > .list > .my-local-card > .description > .main > .actions > button + button {
	margin-left: 5px;	
}

.my-locals > .list > .my-local-card > .description > .main > .actions > button > img {
	width: 18px;
}

@keyframes down {
	from {
		transform: translateY(-1024px);
	}
		
	to {
		transform: translateY(0);
	}
}

.footer {
	width: 100%;
	padding: 40px;
	font-weight: 700;
	color: var(--gray-color);
	text-align: center;
	font-size: .8em;
}

.footer > a {
	color: var(--pink-color);
}

.footer > a > .icon {
	width: 20px;
	vertical-align: middle;
	margin-left: 5px;
}

.-hide {
	display: none !important;
}

.-nooverflow {
	overflow: hidden !important;
}